PORT=3002
NODE_ENV=production
JWT_SECRET=7IKp3TnYdaoCBFWN+yG8q+pm1Hz8VFV436a1hCGgeyE=
REDIS_URL=redis://red-d72v0i7fte5s739qrprg:6379

# PostgreSQL Database (same as other services)
DB_HOST=dpg-d72unlvdiees73arv74g-a.virginia-postgres.render.com
DB_PORT=5432
DB_NAME=shopnova_rp3y
DB_USER=shopnova_rp3y_user
DB_PASSWORD=XajHps4yXNb4jeKz6aerICWR0BkGN98D
