PORT=3002
NODE_ENV=development
JWT_SECRET=shopnova-secret-key-change-in-production
MONGO_URL=mongodb://shopnova:shopnova123@localhost:27017/product_service?authSource=admin
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://shopnova:shopnova123@localhost:5672
ELASTICSEARCH_URL=http://localhost:9200
