VITE_USER_SERVICE_URL=http://localhost:3001/api
VITE_PRODUCT_SERVICE_URL=http://localhost:3002/api
VITE_ORDER_SERVICE_URL=http://localhost:3003/api
VITE_NOTIFICATION_SERVICE_URL=http://localhost:3004/api
