PORT=3004
NODE_ENV=development
JWT_SECRET=shopnova-secret-key-change-in-production
MONGO_URL=mongodb://shopnova:shopnova123@localhost:27017/notification_service?authSource=admin
RABBITMQ_URL=amqp://shopnova:shopnova123@localhost:5672
